.texto-banner {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
.banner{
    width: 100%;
}
body{
    background-color: rgb(78, 82, 78);
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-banner{
    position: absolute; 
    top: 10px;
    left: 10px;
    font-size: 50px;
    color: white;
    margin-top: 110px;
    margin-left: 200px;
}
body h2{
    text-align: center;
    font-size: 40px;
    color: white;
}
.textInput{
    display: inline-block;
    margin-left: 20%;
    margin-top: 25px;
    width: 300px;
    height: 150px;
    background-color: #777777;
}
.textOutput{
    display: inline-block;
    margin-left: 20%;
    margin-top: 25px;
    width: 300px;
    height: 150px;
    background-color: #777777;
}
input{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: green;
}